icons*.png
about.png
about@2x.png
advanced.png
advanced@2x.png
bottom.png
bottom@2x.png
cancel.png
cancel@2x.png
done.png
done@2x.png
down.png
down@2x.png
download.png
download@2x.png
dupes.png
dupes@2x.png
edit-find.png
edit-find@2x.png
failed.png
failed@2x.png
forcedownload.png
forcedownload@2x.png
gone.png
gone@2x.png
incoming.png
incoming@2x.png
info.png
info@2x.png
limited.png
limited@2x.png
limited12.png
limited12@2x.png
mirrors.png
mirrors@2x.png
pause.png
pause@2x.png
preferences.png
preferences@2x.png
retrying.png
retrying@2x.png
schedule-disabled.png
schedule-disabled@2x.png
schedule.png
schedule@2x.png
tachometer.png
tachometer@2x.png
top.png
top@2x.png
unlimited.png
unlimited@2x.png
unlimited12.png
unlimited12@2x.png
up.png
up@2x.png
verified.png
verified@2x.png
